{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="card-header text-center py-3 bg-primary">
    <div class="row">
        <div class="col" style="margin-left: -20px;">
            <style>
                h1,
                h3 {
                    font-size: 20px;
                    color: white;
                }

                #task-id {
                    font-size: 15px;
                }
            </style>
            <h1>Hello {{request.user|title}}!</h1>
            <h3 style="position: absolute; transform: translateY(-50%); margin-left: 20px; margin-bottom: 30px;">You have {{count}} incomplete task{{ count|pluralize:"s" }}</h3>
        </div>


        <div class="col text-right" style="margin-left: 100px;">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-light">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-light">Login</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-body">
    <div class="d-flex justify-content-between">
        <form method="GET">

            <div class="form-outline mb-4">
                <input type='text' name='search-area' id="search-area" class="form-control" value="{{search_input}}">
                <label class="form-label" for="search-area">Search your task</label>
            </div>
            <input class="btn btn-primary ml-2" type="submit" value='Search'>

        </form>

        {% if tasks|length > 0 %}
        <a id="add-link" href="{% url 'task-create' %}" class="btn btn-success" style="height: 35px;">&#x2b;</a>
        {% endif %}
    </div>
</div>

<div class="card-body">
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="task-title">
                    {% if task.complete %}
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task-update' task.id %}" style>{{task}}</a></s></i> {% else %}
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a> 
                    {% endif %}
                </div>
                <div class="task-controls">
                    <a class="delete-link" href="{% url 'task-delete' task.id %}" style="font-size: 15px;">&#215;</a>
                    <!-- <span class="handle">&#10247;</span> -->
                </div>
            </div>
        </li>
        {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h3 style="color:grey;">Task does not exist!</h3>
            <h3 style="color:grey;"><a href="{% url 'task-create' %}"> Create a new task</a>
            </h3>
        </div>
        {% endfor %}
    </ul>
</div>
<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>
{% endblock %}